{extend name='index@public/main'}

{block name="content"}
<div class="content" style="background: #0089f4;text-align: center;padding-top: 120px;padding-bottom:100px;color: #fff;">
    <div style="margin-top: 50px;width:680px;margin-left: auto;margin-right: auto;background: #00be67;border-radius: 10px;">
        <div style="text-align: center;padding-top:95px;">
            <p style="font-size:30px;">欢迎登录未来科学家创新大赛管理平台</p>
        </div>
        <div style="margin-top:120px;">
            <input style="color:#fff;border: none;background: #0aa859;width: 420px;height: 65px;border-radius: 5px;" placeholder="手机号码" />
        </div>
        <div style="margin-top:40px;">
            <input style="color:#fff;border: none;background: #0aa859;width: 420px;height: 65px;border-radius: 5px;" placeholder="密码" />
        </div>
        <div style="margin-top:40px;text-align: center;">
            <p style="width: 420px;height:65px;border-radius: 10px;background: #0aa859;">登陆</p>
        </div>
        <p style="text-align: right;margin-right: 120px;">忘记密码?</p>
        <div style="height:200px;"></div>
    </div>
</div>
<div style="height: 1px;"></div>
{/block}