{extend name='index@public/main'}

{block name="content"}
<div class="content">
    <div>
            <img src="__STATIC__/index/img/banner2.jpg" style="width: 100%;" />
    </div>
    <div class="warp">
            <div class="title">
                    <img src="__STATIC__/index/img/zpzs_title.png" />
            </div>
            <ul class="zpzs">
                    <li class="clear">
                            <div style="float: left;width: 50%;margin-top: 60px;">
                                    <img src="__STATIC__/index/img/zpzs3.jpg" style="width: 100%;"/>
                            </div>
                            <div style="float: left;margin-left: 5%;width: 45%;">
                                <p>姓名：张逸泉、谢雨含</p>
                                <p>班级：低年级组</p>
                                <p>指导老师：李铁军</p>
                                <p>作品名称：单行道阻车器</p>
                                <p>创作动机：据相关资料显示，每年因为单行道逆行而发生的事故和纠纷很多，甚至造成了一些伤亡事件，但是关于单行道逆行问题的解决处理方法能够查到的信息却很少，我们希望设计一个单行道阻车器，减少单行道的事故发生。</p>
                                <p>设计方法：运用连通器将两个气缸连接，当有车辆逆行时，车辆会给予压力板压力，此时，特制的阻车版上升，与地面形成夹角，导致车辆无法通过。</p>
                                <p>作品效用与操作方法：<br>（1）当有车辆逆行时，碾压压力板，使气缸内的活塞下降，气缸内气压增大，部分气体转移至另一气缸中，使第二气缸内活塞上升，使阻车板上升。达到阻车（防止逆行）的目的。
<br>（2）当有车辆顺行通过时，若阻车板在升起状态下顺行车通过时直接将阻车器压下，车轮再次压过压力板，阻车器抬起，夹角形成14度，有效防止车辆逆行。
作品杰出特性与创作特质：利用液压系统，故障率低，上升力量大、速度快，阻车板抬起夹角基本可有效防止车辆逆行；阻车板抬起过程中不会阻碍顺行车辆正常行驶。
其他考虑因素：为了更加直观，模型采用有机玻璃制作，为了保持强度和密封性，运用502和特殊的密封胶进行密封，定制了活塞和地板、顶板，加入真空硅脂用以润滑</p>
                            </div>
                    </li>
                    <li class="clear" style="padding-top: 20px;">
                            <div style="float: left;width: 45%;">
                                    <p>姓名：张祺林 王皓宇 李思轩</p>
                                    <p>班级：低年级组</p>
                                    <p>指导老师：李铁军</p>
                                    <p>作品名称：飞机自锁翻转行李箱</p>
                                    <p>作品设计：由于俄航事件因素考虑，设计了一个行李箱翻转装置。由两根串伞齿轮的轴承互相啮合，纵向连接把柄，横向连接舱门与行李厢，下方由四根固定杆连接至机舱地面。</p>
                                    <p>创作动机：俄航5月某航班在降落时失火，由于逃生时间有限，且一些乘客因拿行李而挡住后排乘客逃生，造成41人葬身火海。初步调查显示，当飞机撞向地面起火时，一些乘客惊慌失措地把自己的行李从架上拖出去。这使得后舱乘客很难撤离，他们在火灾中丧生。虽然空乘人员在起飞前都要对乘客进行安全演示，但在极端的情况下，乘客还是会下意识地拯救个人财物，却没想到会对他人生命造成威胁。</p>
                                    <p>制作过程：首先用4根固定杆支撑把柄、舱门和行李箱，然后打孔后将已割据的轴承穿过；其次将两个伞齿轮互相啮合在两根轴承上，并将其固定；最后制作附加零件，即可实现作品功能。</p>
                                    <p>作品效用：行李箱翻转装置可使乘客在逃生时不会扳行李箱拿取财物，使自己与后排乘客抓紧时间逃生，从而节约时间。</p>
                                    <p>操作方法：转动把柄使纵向轴承转动带动横向轴承转动，使舱门向上打开时行李箱随之向下翻转。</p>
                                    <p>作品杰出特性与创意特质：本行李箱翻转装置较与普通行李箱相比，可以使其向下翻转，以免乘客拿取财物；较与自锁行李箱相比，可以防止乘客误以为行李箱未锁而强行拿取财物，从而更加浪费时间。本装置可使乘客在逃生时不会扳行李箱拿取财物，使自己与后排乘客抓紧时间逃生，从而节约时间。</p>
                                    <p>其他考虑因素：现在正在研究探讨并制作行李箱的固定问题，以免在飞机正常飞行中行李箱翻转脱落，从而造成安全问题。</p>
                            </div>
                            <div style="float: left;margin-left: 5%;width: 50%;margin-top: 120px;">
                                    <img src="__STATIC__/index/img/zpzs4.jpg" style="width: 100%;"/>
                            </div>
                    </li>
            </ul>
            <div class="clear"></div>
            <div style="height: 20px;"> </div>
    </div>
</div>
{/block}
